body {
  /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
}

input, button {
  padding: 5px 10px;
  border: none;
  border: solid 1px #ccc;
  border-radius: 2px;
}

main ul {
  line-height: 200%;
  list-style-type: none;
  padding-left: 0px;
}

main ul li {
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
}

ul.employees li a:before {
  content: "😃\2001";
}

ul.employees.loading li a:before {
  content: "😔\2001";
}

li a {
  color: #666;
  font-size: larger;
  font-weight: bolder;
}

li a:hover {
  color: darkolivegreen;
}

header {
  padding: 10px 20px;
}

header a, header input {
  margin-left: 10px;
}

header a {
  color: dimgray;
  font-weight: bold;
}

header a.signout {
  float: right;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: smaller;
  font-weight: normal;
}

header h1 {
  font-size: 13pt;
  display: inline-block;
}

main header h1 {
  font-size: 14pt;
  display: inline-block;
}

header hr {
  clear: both;
}

main {
  padding: 0px 20px 100px;
}

main header {
  padding: 10px 0px;
}

footer {
  height: 15px;
  width: 100vw;
  padding: 5px 20px;
  border-top: 1px solid #ccc;
  font-size: smaller;
  position: fixed;
  bottom: 0;
  overflow: hidden;
  background-color: #eee;
  color: dimgray;
}

.error {
  color: crimson;
}


.message.large {
  border: 1px solid darkolivegreen;
  border-radius: 10px;
  padding: 30px;
}